* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: rgb(189, 189, 189);
}

ul {
  list-style: none;
}

/* 헤더 */
nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.63);
  position: fixed;
  z-index: 2;
}
.mainMenu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.fa-apple {
  font-size: 20px;
}
header a:hover {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(128, 128, 128);
  animation-name: dropDown;
  animation-duration: 500ms;
}

/* 서브메뉴 */
.subMenu {
  display: none;
}

.menuBt:hover .subMenu1 {
  display: block;
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.76);
  box-shadow: 5px 5px 5px rgb(128, 128, 128);
  animation-name: dropDown;
  animation-duration: 500ms;
  z-index: 2;
}
header ul {
  margin-right: 100px;
  line-height: 50px;
}

header li {
  margin-bottom: -10px;
}
.subMenu span {
  font-size: 12px;
  color: rgb(189, 189, 189);
}
.subMenu a {
  color: rgb(189, 189, 189);
}
.subMenu b {
  font-size: 20px;
}
.subBottom {
  margin-bottom: -25px;
}

@keyframes dropDown {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* 메인 시작 */
main {
  color: white;
  margin-top: 50px;
  text-align: center;
  height: 1200px;
}
main a {
  color: white;
}
main a:hover {
  color: #3694ff;
}
.contents {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
}
.content .fa-solid {
  font-size: 30px;
}
main h1 {
  font-size: 60px;
}
main p {
  font-size: 20px;
  margin: 50px 0;
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 3s;
  transition-delay: 4s;
}

.videoHead {
  display: flex;
  justify-content: space-around;
  margin: 0 0;
  margin-top: 50px;
  width: 100%;
  background-color: rgb(37, 37, 37);
}
.videoHead a:hover {
  color: white;
  font-weight: bold;
}
.videoHead span,
.videoHead .fa-apple {
  font-size: 50px;
}
.videoHead p {
  margin: 10px;
  font-size: 18px;
}
.videoHead div {
  font-size: 18px;
  margin: 22px 0;
  width: 120px;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  line-height: 45px;
}
.videoHead .service {
  font-size: 18px;
  margin: 20px 0;
}

.text {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 1100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.349);
}
.video {
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 1000px;
  z-index: -1;
}
video {
  margin-top: -140px;
}

/* 애니메이션 */
.contents {
  animation: ani 3s ease-in-out;
}
h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 3s;
  transition-delay: 2s;
}

@keyframes ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 메인 끝  */

/* 푸터 */
footer {
  margin-top: 40px;
  color: rgb(180, 180, 180);
}
.footList {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 12px;
  border-top: 1px solid #ffffff5e;
}
.footList ul {
  line-height: 10px;
  margin-top: 20px;
}
.footList li {
  line-height: 30px;
  color: rgb(173, 173, 173);
}
.footList a:hover {
  text-decoration: underline;
}
.footList a {
  color: rgb(228, 228, 228);
}

.last {
  font-size: 12px;
  margin: 0 30px;
}
.last a {
  color: rgb(32, 154, 253);
}
.last a:hover {
  text-decoration: underline;
}

/* 반응형 */
@media screen and (min-width: 1000px) {
  .footContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
